@font-face {
    font-family: "Wremena";
    src: local('Wremena'), url(/fonts/Wremena-Regular.otf);
  }
  
  @font-face {
    font-family: "Denver";
    src: local('Denver'), url(/fonts/denver-serial-bold.ttf);
  }
  