.frame.about{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100vh;
    background-color: black;
}

.about .list{
    padding: 2rem;
    padding-top: 15rem;
}

.about .content .view{
    align-items: center;
}

.credits{
    position: absolute;
    text-align: right;
    width: 50%;
    right: 25px;
    bottom: 25px;
}

.credits p{
    margin: 0px;
    padding: 0px;
}

.credits h3{
    margin: 0px;
    font-weight: 700;
    padding: 0px;
}


@media only screen and (max-width: 1024px) {

    .content{
        flex-direction: column;
        display: block;
        overflow: initial;
    }

    .content .list{
        width: 100%;
        height: auto;
        overflow: initial;
    }

    .content .view{
        width: 100%;
        height: auto;
        overflow: initial;
        margin: 0px;
    }

    .content .view img{
        width: 100%;
        margin-bottom: 5rem;
    }

    .divider{
        display: none;
    }
    .about .list {
        padding: 0px;
        padding-top: 10rem;
    }

    .about .content .view{
        flex-wrap: wrap;
    }

    .credits{
        position: initial;
        float: left;
        text-align: left;
        width: 100%;
        /* left: 25px; */
        /* bottom: 25px; */
    }
    
    .credits p{
        margin: 0px;
        padding: 0px;
    }
    
    .credits h3{
        margin: 0px;
        font-weight: 700;
        padding: 0px;
    }
    
}