.contestants-wrapper{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* justify-content: center; */
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 2rem;
    /* margin-bottom: 0px; */
    height: 100vh;
    background-color: black;
}

.contestants-wrapper .content{
   /* padding-top: 200px; */
   height: 100vh;
   flex-wrap: wrap;
   flex-direction: column;
   margin-top: 10rem;
}

.contestants-wrapper .single{
    /* padding-top: 200px; */
    /* height: 100vh; */
    /* flex-wrap: wrap; */
    flex-direction: row;
        display: flex;
    /* margin-top: 10rem; */
 }

.single .list{
    display: flex;
    flex-direction: row; 
    /* flex-wrap: wrap; */
    width: 50%;
    /* align-items: center; */
    /* height: 100vh; */
    overflow-y: scroll;
    padding: 4rem;
    padding-top: 12rem;
}

.single .view{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    padding-top: 12rem;
    margin: 0px;
    height: 100%;
    overflow-y: scroll;
}

.bio p{
    margin: 0px;
}

.image-wrapper{
    width: 50px;
    height: 50px;
    min-width: 50px;
    margin-right: 4rem; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: darkgrey;
}

.image-wrapper img{
    height: 100%;
    /* width: 100%; */
}

.ordered{
    /* width: 100%; */
    padding-right: 2rem;
    max-width: 400px;
    padding: 4rem;
}


.ordered li a h3, h1{
    font-size: 32px;
}

.letter{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255,255,255,1);
    text-align: center;
    font-size: 24px;
    margin-bottom: 4rem;
}

.single .link{
    text-align: center;
}